<div class="panel-heading"><a id="side-bar-heading" href="#!/{{user_name}}"><h3>{{user_name}}</h3></a></div>
<div class="list-group">
    <a id="user-tweets-item" href="#!/{{user_name}}/tweets" class="list-group-item">Tweets</a>
    <a id="user-followers-item" href="#!/{{user_name}}/followers" class="list-group-item">Followers</a>
    <a id="user-following-item" href="#!/{{user_name}}/following" class="list-group-item">Following</a>
</div>